    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="/img/mssm.png" style="height:100px;"/>
                </div>
                <div class="col-sm-8">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">Department of Genetics and Genomic Sciences<br>
                                                 Icahn School of Medicine at Mount Sinai<br>
                                                New York, NY</span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <img src="/img/lablogo.jpg" style="height:100px;"/>
                </div>
            </div>
        </div>
    </header>