    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">Department of Genetics and Genomic Sciences<br>
                                                 Icahn School of Medicine at Mount Sinai<br>
                                                New York, NY</span>
                    </div>
                </div>
            </div>
        </div>
    </header>