 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

    <!-- Swiper -->
    <script>
            var publications = {{site.data.publications | jsonify}}['all']
            var years = []
            for (publication in publications){
                years.push(publications[publication]['year'])
            }
            var slideHeights = []
            var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                loop: true,
    
                // If we need pagination
                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationBulletRender: function (index, className) {
                    return '<span class="' + className + '">' + years[index] + '</span>';
                },
                onInit: function(swiper){
                    var length = swiper.slides.length - 2
                    for (var i = 1; i <= length; i++){
                        console.log($(swiper.slides[i]).height())
                        //console.log(swiper.slides[i])
                        slideHeights.push($(swiper.slides[i]).height())
                    }
                    $('.swiper-wrapper').height(slideHeights[0] + 20)
                },
                onSlideChangeStart: function(swiper){
                    $('.swiper-wrapper').height(slideHeights[swiper.activeIndex-1] + 20)
                }
            });        
    </script>
