<!-- Section -->
    {% assign index_var = forloop.index | modulo:2 %}
    {% capture section_variable %}{{ section.title | downcase }}{% endcapture %}
    {% include scroll_bumper.html %}

    <section {% if index_var == 0 %} class="success" {% endif %} id="{{section_variable}}-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{{section.title}}</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                {{ site.data[section_variable] | markdownify}}
                </div>
            </div>
        </div>
    </section>