<!-- Section -->
    {% assign index_var = forloop.index | modulo:2 %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="{{page.title | downcase}}">
                    <h1 style="margin-top: -80px;"></h1>
                </div>
            </div>
        </div>
    </div>

    <section {% if index_var == 0 %} class="success" {% endif %} id="{{page.title | downcase}}-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{{page.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="swiper-container" id="pubs">
                    <div class="swiper-wrapper">
                        {% assign sorted_publications = (site.data.publications.all | sort: 'year') %}
                        {% for publication in sorted_publications reversed %}
                          {% capture currentyear %}{{publication.year}}{% endcapture %}
                          {% if currentyear != year %}
                            {% unless forloop.first %}</div></div>{% endunless %}
                            <div class="swiper-slide" style="padding-bottom: 20px;"><div style="publication"><h2>{{ currentyear }}</h2><br>
                            {% capture year %}{{currentyear}}{% endcapture %} 
                          {% endif %}
                            {{ publication.name }}, {{ publication.year }}<br><br>
                        {% endfor %}
                        </div></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                </div>
            </div>
        </div>

    </section>