<script>
  var fd = 'None';
  $("#run").change(function(e){
  });
  $("#download").hide();
  $( "#run" ).submit(function(e) {
    var form = $(this)
    var fd =  new FormData(form[0])
    $.ajax({
      url: 'https://qiaow02.u.hpc.mssm.edu/uploadingfile/uploadfile.php',
      type: 'POST',
      data: fd,
      processData: false,
      contentType: false
    }).success(function(data){
        console.log("success!");
        $("#download").show()
    });
    e.preventDefault();
  });
  $("#openfile").click(function() {
    window.open('https://qiaow02.u.hpc.mssm.edu/uploadingfile/upload/result.txt');
  });
  $("#downloadfile").click(function() {
    window.location = 'https://qiaow02.u.hpc.mssm.edu/uploadingfile/download.php?dir=upload&file=result.txt';
  });
</script>
