<script>
  $("#download").hide();
  $( "#run" ).submit(function(e) {
    $.ajax({
      url: 'http://vcf.stuartscottlab.org/uploadingfile/uploadfile.php',
      type: 'POST',
      data: new FormData( this ),
      headers: {'X-Requested-With': 'XMLHttpRequest'},
      processData: false
    }).success(function(data){
        console.log("success!");
        $("#download").show()
    });
    e.preventDefault();
  });
  $("#openfile").click(function() {
    window.open('http://vcf.stuartscottlab.org/uploadingfile/upload/result.txt');
  });
  $("#downloadfile").click(function() {
    window.location = 'http://vcf.stuartscottlab.org/uploadingfile/download.php?dir=upload&file=result.txt';
  });
</script>
