<script>
  $("#download").hide();
  $( "#run" ).submit(function(e) {
    // var fileInput = document.getElementById('vcffile');
    // var file = fileInput.files[0];
    // var formData = new FormData();
    // formData.append('file', file);
    $.ajax({
      url: 'https://qiaow02.u.hpc.mssm.edu/uploadingfile/uploadfile.php',
      type: 'POST',
      data: new FormData(this),
      processData: false,
      contentType: false
    }).success(function(data){
        console.log("success!");
        $("#download").show()
    });
    e.preventDefault();
  });
  $("#openfile").click(function() {
    window.open('https://qiaow02.u.hpc.mssm.edu/uploadingfile/upload/result.txt');
  });
  $("#downloadfile").click(function() {
    window.location = 'https://qiaow02.u.hpc.mssm.edu/uploadingfile/download.php?dir=upload&file=result.txt';
  });
</script>
