    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <div class="intro-text">
                        <span class="name">{{ site.data.vcf.title }} </span>
                    </div>
                    <br />
                </div>
                <div class="col-md-2 col-md-pull-8 col-xs-6">
                    <img src="/img/mssm.png" style="height:100px;"/>
                </div>
                <div class="col-md-2 col-xs-6">
                    <img src="/img/lablogo.jpg" style="height:100px;"/>
                </div>
            </div>
        </div>
    </header>
