<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}

    {% for page in site.pages offset:3%}
        {% if page.title == "Publications" %}
            {% include publications.html %}
        {% elsif page.title == "Contact"%}
            {% include contactnew.html %}
        {% else %}
            {% include one_col_content.html %}
        {% endif%}
    {% endfor %}

    {% include footer.html %}

    {% include modals.html %}
    {% include js.html %}
    </body>
</html>